{% extends 'components/header.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FootWalker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/login" tabindex="-1" aria-disabled="true">Login</a>
                    </li>
                </ul>
 
            </div>
        </div>
    </nav>
    <form method="post" action="/login/">
        <p style="color:black;"> login as admin</p>
        <p><input class="input--style-3 " style="border:none;background-color:white" type="text" placeholder="username"
                name="uname"></p>
        <p class="card-text"><input class="input--style-3 " style="border:none;background-color:white;" type="password"
                placeholder="password" name="pwd"></p>
        <p><input value="login" type="submit"
                style="border-color: black; border-radius:10px; padding:5px;background-color:transparent;" name="submit"
                class="input--style-3"></p>
        </p>
    </form>    
{% endblock %}