{% extends 'components/header.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<head>
<style>
  #ritem:hover{
    background-color:grey;
  }
</style>
</head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FootWalker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right:10vw;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <ul class="dropdown-menu" style="width:20vw;margin-right:15vw;" aria-labelledby="navbarDropdown">
              {% for x in cart %}
              <li style="padding:10px;">
                <div class="row">
                  <div class="col"><img src="{{ url_for('static',filename=x[3]) }}" style="width:50px;height:auto;"
                      alt="...">
                  </div>
                  <div class="col">{{x[2]}}</div>
                  <div class="col">${{x[4]}}</div>
                  <div class="col"><a href="{{url_for('delete',id=x[0])}}" id="ritem"><i class="fa-solid fa-x"></i></a></div>
                </div>                               
              </li>
              
              {% endfor %}
              

              <button class="w-100 btn btn-primary btn-lg" method="POST"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/customer" style="color:white;text-decoration :none;"> Proceed To checkout</a></font></font></button>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
  {% for i in data %}
   
     <div class="card" style="width: 20vw;display:inline-block;margin:2.26vw;-webkit-box-shadow:0px 0px 19px 1px rgba(99,119,219,0.41);
     -moz-box-shadow: 0px 0px 19px 1px rgba(99,119,219,0.41);
     box-shadow: 0px 0px 19px 1px rgba(99,119,219,0.41);border-radius:20px;">
        <div class="card-body">
          <img src="{{ url_for('static',filename=i[3]) }}" class="card-img-top" alt="...">
          <h5 class="card-title">{{i[2]}}</h5>
          <p class="card-text">{{i[1]}}</p>
          <p class="card-text">${{i[4]}}</p>
            <button type="button" onclick="i[0]" class="btn btn-primary" data-bs-toggle="modal" id="shoeid"
            data-bs-target="#{{i[0]}}">
            Add to cart
          </button>
        </div>
      </div>


    <!-- MODALS -->
    <div class="modal fade" id="{{i[0]}}" tabindex="-1" aria-labelledby="i[1]" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{i[2]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="/menu">
          <div class="modal-body">
            <p class="card-text">{{i[1]}}</p>
            <h3>Available Sizes:</h3>
            
            <select name="shoe" class="shoeInfo" data-id="{{i[0]}}">

              {% for j in size_data %}
              {% if i[0]==j[0] %}
              
              <option value="{{j[0]}},{{j[1]}}">{{j[1]}}</span></option>
              {% endif %}
              {% endfor %}
            </select>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">Add To Cart</button>

          </div>
        </form>
        </div>
      </div>
    </div>
  

    {% endfor %}
{% endblock %}    